{% extends 'base.html' %}
{% load static %}

{% block title %}...{% endblock title %}

{% block content %}
    <div>
        {% for news in local_news %}
            <div>
                <div class="news_img">
                    <a href="#"><img src="{{news.image.url}}" alt="" width="400"></a>
                </div>
                <div class="news_info">
                    <a href="#"><h2>{{ news.title }}</h2></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}